<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wlrss.oldmarket.mapper.GoodsMapper">

    <select id="queryAllGoods" resultType="MyNewGoodsVo">
        /*切记：这里的所有关乎与表名的  全部都和数据库表名一一对应*/
        SELECT g.`goodsname`,g.`price`,u.`username`,g.`date` FROM user u,goods g
        <where>
            u.`id` = g.`userid`
            <if test="queryGoods != null and queryGoods != ''">
                and g.`goodsname` LIKE '%${queryGoods}%'
            </if>
        </where>
        ORDER BY g.`date` DESC
    </select>

</mapper>