<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wlrss.oldmarket.mapper.OrderDetailMapper">

    <select id="findAllOrdersDetail" resultType="myOrders">
       SELECT g.`goodsname`,o.`date_down`,u.`email`,o.`orderno`,o.`status`,
       g.`price`,od.`nums`,(g.`price` * od.`nums`) totalPrice
        FROM user u, goods g, order_details od, orders o
        WHERE od.`goodsid` = g.`goodsid` AND od.`ordersid` = o.`id`
        AND g.`userid` = u.`id` AND u.`id` = #{userId}
    </select>

    <select id="findAllOptionCondition" resultType="myOrders">
        SELECT g.`goodsname`,o.`date_down`,u.`email`,o.`orderno`,o.`status`,g.`price`,od.`nums`,(g.`price` * od.`nums`) totalPrice
        FROM user u, goods g, order_details od, orders o
        <where>
            od.`goodsid` = g.`goodsid` AND od.`ordersid` = o.`id`
            AND g.`userid` = u.`id` AND u.`id` = #{userId}
            <if test="flag == false and orderNameOrderNum !='' and orderNameOrderNum != null">
                and g.`goodsname` LIKE concat('%',#{orderNameOrderNum},'%')
            </if>
            <if test="flag == true and orderNameOrderNum !='' and orderNameOrderNum != null">
                AND o.`orderno` LIKE '%${orderNameOrderNum}%'
            </if>
        </where>
    </select>

    <select id="findUserIdByEmail" resultType="int">
        select id from user where email = #{email}
    </select>

    <select id="findStatus" resultType="myOrders">
        SELECT g.`goodsname`,o.`date_down`,u.`email`,o.`orderno`,o.`status`,g.`price`,od.`nums`,(g.`price` * od.`nums`) totalPrice
        FROM user u, goods g, order_details od, orders o
        <where>
            <if test="optionValue == 0">
                and od.`goodsid` = g.`goodsid` AND od.`ordersid` = o.`id`
                AND g.`userid` = u.`id` AND u.`id` = #{userId}
            </if>
            <if test="optionValue != 0">
                and od.`goodsid` = g.`goodsid` AND od.`ordersid` = o.`id`
                AND g.`userid` = u.`id` AND u.`id` = #{userId}
                and o.`status` = #{optionValue}
            </if>
        </where>
    </select>

    <select id="findTimeOrder" resultType="myOrders">
        SELECT g.`goodsname`,o.`date_down`,u.`email`,o.`orderno`,o.`status`,g.`price`,od.`nums`,(g.`price` * od.`nums`) totalPrice
        FROM user u, goods g, order_details od, orders o
        WHERE od.`goodsid` = g.`goodsid` AND od.`ordersid` = o.`id`
        AND g.`userid` = u.`id` AND u.`id` = 1
        AND o.`date_down` &gt; "2020-06-01" AND o.`date_down` &lt; "2020-07-02";
    </select>

<!--    <resultMap id="orderDetailUser" type="goods">-->
<!--        <id property="goodsid" column="goodsid"/>-->
<!--        <result property="goodsname" column="goodsname"/>-->
<!--        <result property="price" column="price"/>-->
<!--        <result property="described" column="described"/>-->
<!--        <result property="goodsimg" column="goodsimg"/>-->
<!--        <result property="date_up" column="date"/>-->
<!--        <result property="sellmassage" column="sellmassage"/>-->
<!--        <association property="userid" javaType="User">-->
<!--            <id property="id" column="id"></id>-->
<!--            <result property="username" column="username"/>-->
<!--            <result property="email" column="email"/>-->
<!--            <result property="phone" column="phone"/>-->
<!--            <result property="headimg" column="headimg"/>-->
<!--        </association>-->
<!--    </resultMap>-->
<!--    -->
    <select id="queryOrderDetail" resultType="OrderDateilUserVo">
       SELECT u.`id`,u.`username`,u.`email`,u.`phone`,g.`goodsid`,g.`goodsname`,g.`price`, g.`described`,g.`date_up`,g.`sellmassage`
        FROM user u,goods g
        WHERE u.`id` = g.`userid`
        AND
        g.`goodsid`=108
    </select>

</mapper>