<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wlrss.oldmarket.mapper.OrderDetailMapper">

    <select id="findAllOrdersDetail" resultType="myOrders">
       SELECT g.`goodsname`,o.`date`,u.`email`,o.`orderno`,o.`status`,
       g.`price`,od.`nums`,(g.`price` * od.`nums`) totalPrice
        FROM USER u, goods g, order_details od, orders o
        WHERE od.`goodsid` = g.`id` AND od.`ordersid` = o.`id`
        AND g.`userid` = u.`id` AND u.`id` = #{userId};
    </select>

    <select id="findAllOptionCondition" resultType="myOrders">
        SELECT g.`goodsname`,o.`date`,u.`email`,o.`orderno`,o.`status`,g.`price`,od.`nums`,(g.`price` * od.`nums`) totalPrice
        FROM USER u, goods g, order_details od, orders o
        <where>
            od.`goodsid` = g.`id` AND od.`ordersid` = o.`id`
            AND g.`userid` = u.`id` AND u.`id` = #{userId}
            <if test="flag == false and orderNameOrderNum !='' and orderNameOrderNum != null">
                and g.`goodsname` LIKE concat('%',#{orderNameOrderNum},'%')
            </if>
            <if test="flag == true and orderNameOrderNum !='' and orderNameOrderNum != null">
                AND o.`orderno` LIKE '%${orderNameOrderNum}%'
            </if>
        </where>
    </select>

    <select id="findUserIdByEmail" resultType="user">
        select * from user where email = #{email}
    </select>

</mapper>