<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <!--meta tags-->
    <meta charset="UTF-8">
    <meta name="description" content="Services Listing HTML5 CSS3 template">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript, services, listing">
    <meta name="author" content="Ui-DesignLab">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--end meta tags-->

    <title>二手交易市场</title>

    <!--stylesheets-->
    <link rel="stylesheet" href="/vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/css/animate.min.css">
    <link rel="stylesheet" href="/vendor/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/perfect-scrollbar/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <!--end stylesheets-->

    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Cairo%7CNosifer%7CPoppins%7CQuicksand:700%7CRaleway%7CTangerine%7CHind+Vadodara" rel="stylesheet">
    <!--end google fonts-->

</head>
<body class="dashboard">


<!--top navigation-->
<div class="top-nav">
    <i class="fa fa-bars toggle-dash-menu"></i>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="#" class="show-search"><i class="fa fa-search"></i></a></li>
        <li class="list-inline-item"><a href="dash-messages.html"><i class="fa fa-envelope"></i><span><em>4</em></span></a></li>
        <li class="list-inline-item"><a href="dashboard.html"><i class="fa fa-bell"></i><span><em>8</em></span></a></li>
        <li class="list-inline-item"><a href="dash-profile.html"><i class="fa fa-user"></i></a></li>
    </ul>
</div>
<!--end top navigation-->

<!--side navigation-->
<div class="dash-side-nav-wrapper" id="dash-side-menu">
    <div class="dash-side-nav perfect-scroll">
        <div class="dash-logo">
            <h5><a href="dashboard.html">二手市场</a></h5>
            <span>仪表盘</span>
        </div>
        <div class="user-info">
            <div class="dash-user-img"><img src="/img/user2.jpg" alt=""></div>
            <div class="dash-user-info">
                <strong>张三丰.</strong>
                <span>后台开发</span>
            </div>
            <a href="dash-profile.html" class="dash-edit-user"><i class="fa fa-pencil"></i></a>
        </div>
        <ul class="list-unstyled dash-menu">
            <li><a href="dashboard.html"><i class="fa fa-home"></i><span>主页</span></a></li>
            <li><a href="dash-messages.html"><i class="fa fa-envelope-o"></i><span>留言</span></a></li>
            <li><a href="dash-reviews.html"><i class="fa fa-star-o"></i><span>评论</span></a></li>
            <li><a href="dash-sales.html" class="current"><i class="fa fa-money"></i><span>销售信息</span></a></li>
            <li><a th:href="@{/order/findAllOrder}"><i class="fa fa-money"></i><span>我的订单</span></a></li>            <li><a href="dash-items.html"><i class="fa fa-user"></i><span>物品</span></a></li>
            <li><a href="dash-addItem.html"><i class="fa fa-plus-circle"></i><span>新增项目</span></a></li>
            <li><a href="dash-profile.html"><i class="fa fa-user"></i><span>个人资料</span></a></li>
            <li><a href="dash-accountHistory.html"><i class="fa fa-history"></i><span>账户记录</span></a></li>
            <li><a href="items.html"><i class="fa fa-sign-out"></i><span>回到首页</span></a></li>
        </ul>
    </div>
</div>
<!--end side navigation-->

<!--search box-->
<div class="dash-search-box" id="dash-search-box">
    <div class="d-search-box">
        <form action="#" method="post">
            <div class="form-group">
                <input required list="ui-list" class="form-control" type="search" placeholder="Search">
            </div>
            <button class="btn"><i class="fa fa-search"></i></button>
        </form>
        <datalist id="ui-list">
            <option>Monthly sales</option>
            <option>Salaries</option>
            <option>Invoice</option>
            <option>Messages</option>
            <option>Reviews</option>
            <option>Active items</option>
        </datalist>
    </div>
</div>
<!--end search box-->

<!--content container-->
<div class="content-wrapper">

<!--sales stats-->
    <div class="sales-stats">
        <div class="s-stat">
            <h1>13</h1>
            <strong>物品出售</strong>
        </div>
        <div class="s-stat">
            <h1><span>$</span>456</h1>
            <strong>本月销售收入</strong>
        </div>
        <div class="s-stat">
            <h1><span>$</span>9564</h1>
            <strong>总销售额</strong>
        </div>
        <div class="s-stat">
            <h1><span>$</span>2716</h1>
            <strong>可提取余额</strong>
        </div>
    </div>
<!--end sales stats-->

<!--sales records-->
    <div class="sales-records">
        <div class="sort-search">
            <h6 class="st"><strong>销售记录</strong></h6>
            <div class="sort st">
                <select name="sort" class="form-control" title="">
                    <option value="all">所有记录</option>
                    <option value="date1">上市日期</option>
                    <option value="date2">卖出日期</option>
                    <option value="price">价格</option>
                </select>
            </div>
            <div class="search-rec st">
                <input type="search" placeholder="搜索出售" class="form-control">
            </div>
        </div>
        <hr>
        <section>
            <div class="s-record"><strong>1)</strong> <span>跑车</span></div>
            <div class="s-record"><em>上架日期</em><span>12 Jan, 2017</span></div>
            <div class="s-record"><em>出售日期</em><span>17 Feb, 2017</span></div>
            <div class="s-record"><em>买家邮箱</em><span>buyer@eg.com</span></div>
            <div class="s-record"><em>价钱</em><span>$5625.00</span></div>
        </section>
        <hr>
        <section>
            <div class="s-record"><strong>2)</strong> <span>飞机</span></div>
            <div class="s-record"><em>上架日期</em><span>12 Jan, 2017</span></div>
            <div class="s-record"><em>出售日期</em><span>17 Feb, 2017</span></div>
            <div class="s-record"><em>买家邮箱</em><span>buyer@eg.com</span></div>
            <div class="s-record"><em>价钱</em><span>$5625.00</span></div>
        </section>
        <hr>
        <section>
            <div class="s-record"><strong>3)</strong> <span>拖拉机</span></div>
            <div class="s-record"><em>上架日期</em><span>12 Jan, 2017</span></div>
            <div class="s-record"><em>出售日期</em><span>17 Feb, 2017</span></div>
            <div class="s-record"><em>买家邮箱</em><span>buyer@eg.com</span></div>
            <div class="s-record"><em>价钱</em><span>$5625.00</span></div>
        </section>
        <hr>
    </div>
<!--end sales records-->

</div>
<!--end content container-->

<!--page loader-->
<div class="page-loader">
    <div class="loader"><img src="/img/logo.png" alt=""></div>
</div>
<!--end page loader-->

<!--scripts-->
<script src="/vendor/js/jquery-3.2.1.min.js"></script>
<script src="/vendor/js/popper.js"></script>
<script src="/vendor/js/bootstrap.min.js"></script>
<script src="/vendor/js/alertify.js"></script>
<script src="/vendor/js/jquery.knob.min.js"></script>
<!--[if IE]>
<script type="text/javascript" src="/vendor/js/excanvas.js"></script><![endif]-->
<script src="/vendor/js/summernote-bs4.min.js"></script>
<script src="/vendor/js/dropzone.js"></script>
<script src="/vendor/OwlCarousel2-2.2.1/owl.carousel.min.js"></script>
<script src="/vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
<script src="/vendor/js/typed.js"></script>
<script src="/js/app.js"></script>
<!--end scripts-->

</body>
</html>
