<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--meta tags-->
    <meta charset="UTF-8">
    <meta name="description" content="Services Listing HTML5 CSS3 template">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript, services, listing">
    <meta name="author" content="Ui-DesignLab">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--end meta tags-->

    <title>二手交易市场</title>
    <!--stylesheets-->
    <link rel="stylesheet" href="/vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/css/animate.min.css">
    <link rel="stylesheet" href="/vendor/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/perfect-scrollbar/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <!--end stylesheets-->

    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Cairo%7CNosifer%7CPoppins%7CQuicksand:700%7CRaleway%7CTangerine%7CHind+Vadodara" rel="stylesheet">
    <!--end google fonts-->
</head>
<body>

<!--banner-->
<div class="landing-banner">
    <div th:insert="~{commons/commons::navigation}">
    </div>

    <div class="banner-content">
        <h1 class="title-style1">欢迎来到 <strong>二手交易市场</strong> </h1>
        <h2 class="title-style2"><span>这里有你想要的一切</span></h2>
        <p>
            <span>一个出售旧物品的市场. 你的手机、电脑等不需要的在这里都不用担心！</span>
            <span>在这里有我们在，你可以完全放心的交易！</span>
        </p>
        <div><a href="pricing.html" class="ui-btn ui-btn-info">开始</a></div>
    </div>

</div>
<!--end banner-->

<!--our services-->
<div class="our-services">
    <h2>我们的服务</h2>
    <p>

    </p>
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="service">
                <span><i class="fa fa-laptop"></i></span>
                <strong>项目清单</strong>
                <p>
                    我们有很强大的后台系统处理能力，在您需要什么信息的时候，这些信息就会快速完成展示在您眼前
                </p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="service current">
                <span><i class="fa fa-bar-chart-o"></i></span>
                <strong>网上营销</strong>
                <p>
                    我们拥有专业的团队为您量身打造不同的营销计划和方案，无论您是企业还是个人，真正让您没有后顾之忧
                </p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="service">
                <span><i class="fa fa-users"></i></span>
                <strong>现成市场</strong>
                <p>
                    我们拥有很高的用户基数，无论您是买商品还是卖商品，都能快速完成交易，不会让您担心您的购入/卖出商品的库存时间
                </p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="service">
                <span><i class="fa fa-credit-card"></i></span>
                <strong>快速结算</strong>
                <p>
                    我们拥有非常快速的结算服务系统，在您网络良好的情况下，不需要您有任何等待即可完成结算业务
                </p>
            </div>
        </div>
    </div>
</div>
<!--end our services-->

<!--home about-->
<div class="home-about">
    <div class="about-content">
        <h3><strong class="ui-text-success">这是我们...</strong></h3>
        <p>
            我们以专业的团队高质量完成所有业务的办理，致力于让所有用户来到这里能够
            放心买 省心卖
            <br>
            <br>
            <br>
        </p>
        <a href="about.html" class="ui-btn ui-btn-success btn-shadow">了解更多</a>

    </div>
    <div class="about-img">
        <img src="/img/us.jpg" alt="">
    </div>
</div>
<!--end home about-->

<!--explore our market-->
<div class="exp">
    <h2><span class="ui-text-info">开拓</span> 我们的 <strong class="ui-text-info">二手市场</strong></h2>
    <p>
         让我们一起让我们的平台越来越好
    </p>
</div>
<div class="explore">
    <div class="exp-item">
        <div class="exp-item-top">
            <span><i class="fa fa-lightbulb-o"></i><strong>电子产品</strong></span>
            <p>
                这里你能找到各类、各样、各种功能的电子产品，可以满足您对的所有数码产品的追求和收藏
            </p>
        </div>
        <a href="items.html" class="exp-item-bt"><span>查看</span><i class="fa fa-angle-right"></i></a>
    </div>
    <div class="exp-item">
        <div class="exp-item-top">
            <span><i class="fa fa-gears"></i><strong>机械设备</strong></span>
            <p>
                这里包含了生活中您能见到的各式各样、各种功能的机械设备，满足我们对于金属质感的追求
            </p>
        </div>
        <a href="items.html" class="exp-item-bt"><span>查看</span><i class="fa fa-angle-right"></i></a>
    </div>
    <div class="exp-item">
        <div class="exp-item-top">
            <span><i class="fa fa-home"></i><strong>家居用品</strong></span>
            <p>
                您在事业上的顺利，感情中的满意，更需要好的生活来完善他们，生活是我们自己的，来这里让你的生活变得更温馨吧
            </p>
        </div>
        <a href="items.html" class="exp-item-bt"><span>查看</span><i class="fa fa-angle-right"></i></a>
    </div>
</div>
<!--end explore our market-->

<!--from blog-->
<div class="exp">
    <h2><span class="ui-text-info">来看</span> 我们的 <strong class="ui-text-info">博客</strong></h2>
    <p>
        均为平台用户所撰写
    </p>
</div>
<div class="from-blog">
    <div class="from-blog-c">
        <div class="post">
            <img src="/img/post.jpg" alt="">
            <div class="post-content">
                <a href="blog-single.html"><strong>博客</strong></a>
                <p>
                    博客描述
                </p>
                <span class="post-time"><i class="fa fa-clock-o"></i> <em>12 Jan, 2018</em></span>
            </div>
        </div>
    </div>
    <div class="from-blog-c">
        <div class="post">
            <img src="/img/post2.jpg" alt="">
            <div class="post-content">
                <a href="blog-single.html"><strong>博客</strong></a>
                <p>
                    博客描述
                </p>
                <span class="post-time"><i class="fa fa-clock-o"></i> <em>12 Jan, 2018</em></span>
            </div>
        </div>
    </div>
    <div class="from-blog-c">
        <div class="post">
            <img src="/img/post3.jpg" alt="">
            <div class="post-content">
                <a href="blog-single.html"><strong>博客</strong></a>
                <p>
                    博客描述
                </p>
                <span class="post-time"><i class="fa fa-clock-o"></i> <em>12 Jan, 2018</em></span>
            </div>
        </div>
    </div>
</div>
<div class="more-posts"><a href="blog.html">博客<i class="fa fa-arrow-right"></i></a></div>
<!--end from blog-->

<!--start here-->
<div class="start-here">
    <h3>从这里开始</h3>
    <p>

    </p>
    <div class="divide">
        <a href="login-register.html" class="ui-btn ui-btn-info">登录</a>
        <strong class="ui-text-success">或</strong>
        <a href="login-register.html" class="ui-btn ui-btn-prim">注册</a>
    </div>
</div>
<!--end start here-->

<!--chat box-->

<!--咨询窗口-->

<!--end chat box-->

<!--page loader-->
<div class="page-loader">
    <div class="loader"><img src="/img/logo.png" alt=""></div>
</div>
<!--end page loader-->


<div class="bottom-strip">
    <div class="copyright" style="margin: 0 auto">
        <i class="fa fa-copyright"></i>
        <span>二手交易平台. 保留所有解释权利</span>
    </div>
</div>
<!--end footer section-->

<!--scripts-->
<script src="/vendor/js/jquery-3.2.1.min.js"></script>
<script src="/vendor/js/popper.js"></script>
<script src="/vendor/js/bootstrap.min.js"></script>
<script src="/vendor/js/alertify.js"></script>
<script src="/vendor/js/jquery.knob.min.js"></script>
<!--[if IE]>
<script type="text/javascript" src="/vendor/js/excanvas.js"></script><![endif]-->
<script src="/vendor/js/summernote-bs4.min.js"></script>
<script src="/vendor/js/dropzone.js"></script>
<script src="/vendor/OwlCarousel2-2.2.1/owl.carousel.min.js"></script>
<script src="/vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
<script src="/vendor/js/typed.js"></script>
<script src="/js/app.js"></script>
<!--end scripts-->

</body>
</html>
