<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!--meta tags-->
    <meta charset="UTF-8">
    <meta name="description" content="Services Listing HTML5 CSS3 template">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript, services, listing">
    <meta name="author" content="Ui-DesignLab">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--end meta tags-->
    <title>二手交易市场</title>
    <!--stylesheets-->
    <link rel="stylesheet" href="/vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/css/animate.min.css">
    <link rel="stylesheet" href="/vendor/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/perfect-scrollbar/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <!--end stylesheets-->

    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Cairo%7CNosifer%7CPoppins%7CQuicksand:700%7CRaleway%7CTangerine%7CHind+Vadodara" rel="stylesheet">
    <!--end google fonts-->
</head>
<body>

<!--导航栏-->
<div class="site-top-nav" th:insert="~{commons/commons::navigation}">
</div>

<!--banner-->
<div class="search-banner back-photo">
    <h5>最简单的方法 <strong class="ui-text-info">卖出</strong> 物品</h5>
    <form class="form-inline" th:action="@{/items/queryAllGoods}" method="get">
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" th:value="${queryGoods}" name="queryGoods" class="form-control" placeholder="在这里搜索..." style="width: 540px">
        </div>
        <button type="submit" class="btn btn-primary mb-2">搜索</button>
    </form>
</div>
<!--end banner-->


<!--items wrapper-->
<div class="items-wrapper">
    <div class="items-sort">
        <strong>新上市产品</strong>
        <div>
            <span>排序方式 :</span>
            <a href="#">时间</a>
            <a href="#">价格</a>
            <a href="#">名称</a>
        </div>
    </div>
    <div class="items">
        <div class="sale-item" th:each="good:${pageInfo.list}">
            <div class="sale-item-img">
                <img src="/img/items/app3.jpg" alt="">
                <div class="sale-info">
                    <strong th:text="${good.goodsName}"></strong>
                    <span class="sale-price" th:text="${'$'+good.price}"></span>
                </div>
            </div>
            <div class="sale-lister">
                <div class="lister-pic">
                    <div><img src="/img/lister.jpg" alt=""></div>
                    <div>
                        <strong th:text="${good.userName}"></strong>
                        <span><em th:text="'上市日期：'+${good.date}"></em></span>
                    </div>
                </div>
                <a href="/item-detail.html"><i class="fa fa-angle-right fa-2x"></i></a>
            </div>
        </div>
    </div>

    <!--site pagination-->
    <nav aria-label="Page navigation example" style="margin-top: 80px">
        <ul class="pagination justify-content-end">
            <li class="page-item">
                <a href="#" class="page-link">上一页</a>
            </li>
            <li href="#">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item" href="#">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item" href="#">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item"><span class="page-link">...</span></li>
            <li class="page-item" href="#">
                <a href="#" class="page-link">下一页</a>
            </li>
            <li class="page-item">
                <span class="page-link" th:text="'共'+${pageInfo.getPages()}+'页'"></span>
            </li>
        </ul>
    </nav>
    <!--end site pagination-->

</div>
<!--end items wrapper-->



<!--start here-->
<div class="start-here">
    <h3>从这里开始</h3>
    <p>

    </p>
    <div class="divide">
        <a href="login-register.html" class="ui-btn ui-btn-info">登录</a>
        <strong class="ui-text-success">或</strong>
        <a href="login-register.html" class="ui-btn ui-btn-prim">注册</a>
    </div>
</div>
<!--end start here-->

<!--chat box-->
<a href="#" class="chat-box-btn"><i class="fa fa-comment icon-sw"></i></a>

<!--咨询窗口-->
<div class="chat-box">
    <div class="chat-top">
        <section>
            <h6 class="org-name">二手交易平台</h6>
            <div class="repliers">
                <div class="r-img">
                    <img src="/img/avatar2.jpg" alt="">
                    <strong class="name">Megan</strong>
                </div>
                <div class="r-img">
                    <img src="/img/user2.jpg" alt="">
                    <strong class="name">Brandon</strong>
                </div>
            </div>
        </section>
    </div>
    <div class="chat-flow" id="chat-flow">
        <p class="outbound">
            Hallo, 有人在吗？
        </p>
        <p class="inbound">
            嗨, 在的，很乐意为您效劳.
        </p>
    </div>
    <form class="chat-form" action="#">
        <input type="text" class="form-control chat-message" placeholder="回复">
    </form>
</div>

<!--end chat box-->

<!--page loader-->
<div class="page-loader">
    <div class="loader"><img src="/img/logo.png" alt=""></div>
</div>
<!--end page loader-->

<!--footer section-->
<!--end footer section-->

<!--scripts-->
<script src="/vendor/js/jquery-3.2.1.min.js"></script>
<script src="/vendor/js/popper.js"></script>
<script src="/vendor/js/bootstrap.min.js"></script>
<script src="/vendor/js/alertify.js"></script>
<script src="/vendor/js/jquery.knob.min.js"></script>
<!--[if IE]>
<script type="text/javascript" src="/vendor/js/excanvas.js"></script><![endif]-->
<script src="/vendor/js/summernote-bs4.min.js"></script>
<script src="/vendor/js/dropzone.js"></script>
<script src="/vendor/OwlCarousel2-2.2.1/owl.carousel.min.js"></script>
<script src="/vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
<script src="/vendor/js/typed.js"></script>
<script src="/js/app.js"></script>
<!--end scripts-->

</body>
</html>
