<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!--meta tags-->

    <meta charset="UTF-8">
    <meta name="description" content="Services Listing HTML5 CSS3 template">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript, services, listing">
    <meta name="author" content="Ui-DesignLab">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--end meta tags-->

    <title>二手交易市场</title>
    <!--stylesheets-->
    <link rel="stylesheet" href="/vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/css/animate.min.css">
    <link rel="stylesheet" href="/vendor/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/perfect-scrollbar/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <!--end stylesheets-->

    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Cairo%7CNosifer%7CPoppins%7CQuicksand:700%7CRaleway%7CTangerine%7CHind+Vadodara" rel="stylesheet">
    <!--end google fonts-->
</head>
<body>

<!--导航栏-->
<div class="site-top-nav" th:insert="~{commons/commons::navigation}">
</div>

<!--payment info-->
<div class="payment-info-wrapper">

    <div class="payment">
            <h6><strong>收货人信息</strong></h6>
            <div class="payment-info-box">
                <div class="form-group">
                    <label>收货人 <i class="fa fa-star ui-text-danger"></i></label>
                    <select class="form-control" id="accept" >
                        <option th:each="accept,stat:${session.addresses}" th:text="${accept.getAccept()}" th:value="${stat.index}" ></option>
                    </select>
                </div>
                <div class="form-group">
                    <label>收货地址 <i class="fa fa-star ui-text-danger"></i></label>
                    <select class="form-control" id="address">
                        <option  th:each="address,stat:${session.addresses}" th:text="${address.getAddress()}" th:value="${stat.index}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label>电话 <i class="fa fa-star ui-text-danger"></i></label>
                    <select class="form-control"  id="phone">
                        <option  th:each="phone,stat:${session.addresses}" th:text="${phone.getAcceptphone()}" th:value="${stat.index}"></option>
                    </select>
                </div>
        </div>
        <script th:src="@{/js/jquery-2.2.3.min.js}"></script>
        <script>
            $(function () {
                $("#accept").change(function () {
                    let mySkip =  $(this).val();
                    $("#address").val(mySkip);
                    $("#phone").val(mySkip);
                })
                $("#address").change(function () {
                    let mySkip =  $(this).val();
                    $("#accept").val(mySkip);
                    $("#phone").val(mySkip);
                })
                $("#phone").change(function () {
                    let mySkip =  $(this).val();
                    $("#accept").val(mySkip);
                    $("#address").val(mySkip);
                })
            })

        </script>

        <p></p>
        <div class="payment">
            <h6><strong>订单信息</strong></h6>
        <div class="payment-info-box">
            <form action="/addOrder" method="post">
                <div class="form-group">
                    <label>订单编号<i class="fa fa-star ui-text-danger"></i></label>
                    <p class="form-control"  th:text="${session.orders.getOrderno()}"> 111111111111</p>
                    <input type="hidden" name="orderNo" th:value="${session.orders.getOrderno()}" >
                </div>
                <div class="form-group">
                    <label>下单时间 <i class="fa fa-star ui-text-danger"></i></label>
                    <p class="form-control"  th:text="${#dates.format(session.orders.getDateDown(),'yyyy-MM-dd HH:mm:ss')}">2020-10-10</p>
                    <input type="hidden" name="date" th:value="${session.orders.getDateDown()}" >
                </div>
                <div class="form-group">
                    <label>总金额 <i class="fa fa-star ui-text-danger"></i></label>
                    <p class="form-control"  th:text="${session.orders.getMoney()}">3567元</p>
                    <input type="hidden" name="money" th:value="${session.orders.getMoney()}" >
                </div>
                <div class="form-group">
                    <label>状态 <i class="fa fa-star ui-text-danger"></i></label>
                    <input type="hidden" name="status" th:value="${session.orders.getStatus()}">
                    <div th:switch="${session.orders.getStatus()}" >
                        <p class="form-control"  th:case="'1'">已签收</p>
                        <p class="form-control"  th:case="'2'">未签收</p>
                        <p class="form-control"  th:case="'3'">已发货</p>
                        <p class="form-control"  th:case="'4'">已付款 </p>
                        <p class="form-control"  th:case="'5'">未付款 </p>
                    </div>
                </div>
                <hr>
                <div class="payment-bottom">
                    <a th:href="@{/shopping/cart}"><i class="fa fa-angle-left"></i>购物车</a>
                    <button type="submit" class="ui-btn ui-btn-info-outline">付款 <i class="fa fa-credit-card"></i></button>
                </div>
            </form>
<!--            <script>-->
<!--            function addOrder() {-->
<!--                    $.ajax({-->
<!--                        type : "POST",-->
<!--                        url : "/addOrder",-->
<!--                        data : {-->
<!--                            "orderNo" : parseInt($("#no").text()),-->
<!--                            "date" : $("#date").text(),-->
<!--                            "money" : parseFloat($("#money").text())-->
<!--                        },-->
<!--                        success : function (data) {-->

<!--                        }-->
<!--                    })-->
<!--            }-->
<!--            </script>-->
        </div>
    </div>
    </div>

    <div class="order-summary">
        <div th:each="good : ${session.goods}">
        <h6><strong>订单综述</strong></h6>
        <div class="order-item">
            <div>
                <strong>物品名称</strong>
                <span th:text="'✖️'+${good.getNums()}">1x</span>
            </div>
            <div>
                <span th:text="${good.getGoodsname()}">大众甲壳虫</span>
                <strong th:text="${good.getNums()*good.getPrice()}">$2160.00</strong>
            </div>
        </div>
        </div>
                <span>合计</span>
                <h4><strong class="ui-text-info" th:text="${session.orders.getMoney()}">$3520.00</strong></h4>
            </div>
        </div>
    </div>
</div>


<!--page loader-->
<div class="page-loader">
    <div class="loader"><img src="/img/logo.png" alt=""></div>
</div>
<!--end page loader-->

<!--footer section-->
<div class="bottom-strip">
    <div class="copyright" style="margin: 0 auto">
        <i class="fa fa-copyright"></i>
        <span>二手交易平台. 保留所有解释权利</span>
    </div>
</div>
<!--end footer section-->

<!--scripts-->
<script src="/vendor/js/jquery-3.2.1.min.js"></script>
<script src="/vendor/js/popper.js"></script>
<script src="/vendor/js/bootstrap.min.js"></script>
<script src="/vendor/js/alertify.js"></script>
<script src="/vendor/js/jquery.knob.min.js"></script>
<!--[if IE]>
<script type="text/javascript" src="/vendor/js/excanvas.js"></script><![endif]-->
<script src="/vendor/js/summernote-bs4.min.js"></script>
<script src="/vendor/js/dropzone.js"></script>
<script src="/vendor/OwlCarousel2-2.2.1/owl.carousel.min.js"></script>
<script src="/vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
<script src="/vendor/js/typed.js"></script>
<script src="/js/app.js"></script>
<!--end scripts-->

</body>
</html>
